:root{
  --bg-color: rgb(24 13 55);
  --card-color: rgb(23,23,23);
  --text-color: rgb(240, 240, 240);
  --border-px: 0 px;
}
body {
  /* background-color: var(--bg-color); */
  background: url("../public/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin: 0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
