:root{
  --bg-color: rgb(20,20,20);
  --card-color: rgb(23,23,23);
  --text-color: rgb(240, 240, 240)
}
body {
  background-color: var(--bg-color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
